<h1>Edit Username</h1>

<p><%=@user.username%></p>
<br>
<div class="center">
<%= form_with(model: @user, local: true) do |f| %>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@user.errors.count, "error") %> prohibited
      this post from being saved:
    </h2>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <div class="form-group border">
    <%= f.label :username%>
    <br>
    <%= f.text_field :username, placeholder: "Edit Username..."%>
  </div>
    <%= f.submit "Rename" %>
  </div>

<% end %>
</div>
