<h1>Sign Up For #Website</h1>

<%= form_with(model: @user, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :username%>
    <br>
    <%= f.text_field :username%>
  </div>
  <div class="form-group">
    <%= f.label :password%>
    <br>
    <%= f.password_field :password%>
  </div>
  <div class="form-group">
    <%= f.submit "Sign Up" %>
  </div>

<% end %>
