<br>
<h1>|| <%= @user.username %>'s blog ||</h1>
<br>
<h3 class="center">All Your Blog Posts:</h3>
<br>
<% if !@posts.any? %>
  <p class="center">Better get blogging!</p>
<% end %>
<br>
<div class="center">
  <% @posts.each do |post| %>
    <div class="text border">
      <div><%= link_to post.title, post_path(post) %></div>
      <div><button class="button" type="button" name="button"> <%= link_to 'Edit Blog Post', edit_post_path(post) %></button></div>
    </div>
  <% end %>
  <button class="button" type="button" name="button"><%= link_to 'Delete Account Forever', user_path(@user),
          method: :delete,
          data: { confirm: 'Are you sure?' } %></button>
  <div><button class="button" type="button" name="button"> <%= link_to 'Edit Your Stuff', edit_user_path(@user) %></button>

</div>
