<p>
  <strong>
    <%= @post.title %>
  </strong>
</p>

<p>
  <%= @post.text %>
</p>

<% if current_user.id == @post.user_id %>
<td><%= link_to 'Edit', edit_post_path(@post) %></td>
<td><%= link_to 'Delete', post_path(@post),
        method: :delete,
        data: { confirm: 'Are you sure?' } %></td>
<% end %>

<%= link_to 'All Posts', posts_path %>
